:root {
	font-family: "Latin Modern Roman", "Times New Roman", Times, serif;
	font-family: serif;
	font-size: 1.167em;
}

article {
	border: 0.25em solid black;
	padding: 1em 10em;
}

section {
	margin-left: 0.5em;
	padding: 0.25em 0.5em;
}

p {
	/*padding: 0em 0.75em;
	text-indent: 1em;
	line-height: 1.5;*/
}

section.form, section.endorsement {
    text-align: center;
}

section.legis-body {
    border: dashed black;
    border-width: 0.1em 0em;
}

section.legis-body::before {
    content: "Be it enacted by the Senate and House of Representatives of the United States of America in Congress assembled,";
    font-style: italic;
    margin-left: 2em;
    line-height: 4;
}

p.distribution-code {
    text-align: right;
    font-size: 85%;
}

p.calendar {
    text-align: right;
    font-weight: bold;
    font-size: 175%;
}

p.congress, p.session, p.action-date {
    font-variant: small-caps;
}

p.legis-num {
    font-size: 250%;
    font-weight: bold;
}

p.current-chamber::before, p.legis-type::before {
    display: block;
    border-top: 1px solid black;
    width: 50%;
    content: "";
    margin: -1em auto 1em;
}

p.legis-type {
    font-size: 200%;
    font-weight: bold;
}

span.enum::before {
    content: "Sec. ";
}

section.section[data-section-type="section-one"] span.enum::before {
    content: "Section ";
}

span.enum::before, span.enum, span.header {
    font-variant: small-caps;
    font-weight: bolder;
}

p.text {
	padding: 0em 0.75em;
	text-indent: 2em;
	line-height: 1.5;
	text-align: justify;
}

p.attestor::before {
    display: block;
    font-family: serif;
    font-variant: normal;
    content: "Attest:";
    margin: 0.75em -1em;
}

p.attestor {
    font-variant: small-caps;
    margin: 0.5em 1em;
}

p.role {
    font-style: italic;
    margin: 0em 3em auto;
}

p.role::after {
    content: "."
}

span.sponsor {
    font-variant: small-caps;
}

span.quote::before {
    content: open-quote;
}

span.quote::after {
    content: close-quote;
}

span.short-title {
    color: #C00;
}