/*** GLOBAL DEFAULTS **/

a:link, a:visited {
	text-decoration: none;
}

a:hover, a:focus, a:active {
	text-decoration: underline;
}

/*a:not([href]) {
	-webkit-text-decoration-line: underline;
	-moz-text-decoration-line: underline;
	text-decoration-line: underline;
	-webkit-text-decoration-style: dashed;
	-moz-text-decoration-style: dashed;
	text-decoration-style: dashed;
}*/

h1, h2, h3, h4, h5, h6 {
	margin: 0em;
	font-size: 100%;
	font-weight: normal;
}

/*** GLOBAL ELEMENTS AND ATTRIBUTES **/

article {
	font-family: serif;
	font-size: 18.6667px;
	font-size: 1.167rem;
	padding: 1%;
}

article p {
	margin-top: 1em;
	margin-bottom: 1em;
}

dfn::before {
	content: open-quote;
}

dfn {
	font-style: inherit;
}

dfn::after {
	content: close-quote;
}

[data-display="no"] {
	display: none;
}

[data-display-inline="yes-display-inline"] {
/*	display: inline;*/
}

[data-reported-display-style="boldface-roman"] > *,
[data-reported-display-style="parentheses-boldface-roman"] > *,
[data-reported-display-style="brackets-boldface-roman"] > * {
	font-style: normal;
}

ins,
[data-changed="added"] > *,
[data-reported-display-style="italic"] > *,
[data-reported-display-style="boldface-italic"] > *,
[data-reported-display-style="parentheses-boldface-italic"] > *,
[data-reported-display-style="brackets-boldface-italic"] > * {
	font-style: italic;
}

[data-reported-display-style="bold-brackets"] > p::before,
[data-reported-display-style="bold-brackets"] > p::after,
[data-reported-display-style="boldface-roman"] > *,
[data-reported-display-style="boldface-italic"] > *,
[data-reported-display-style="parentheses-boldface-roman"] > *,
[data-reported-display-style="parentheses-boldface-italic"] > *,
[data-reported-display-style="brackets-boldface-roman"] > *,
[data-reported-display-style="brackets-boldface-italic"] > * {
	font-weight: bolder;
}

[data-reported-display-style="parentheses-boldface-roman"] > p::before,
[data-reported-display-style="parentheses-boldface-italic"] > p::before {
	content: "(";
}

[data-reported-display-style="parentheses-boldface-roman"] > p::after,
[data-reported-display-style="parentheses-boldface-italic"] > p::after {
	content: ")";
}

[data-reported-display-style="bold-brackets"] > p,
[data-reported-display-style="brackets-boldface-roman"] > p::before,
[data-reported-display-style="brackets-boldface-italic"] > p::before {
	content: "[";
}

[data-reported-display-style="bold-brackets"] > p,
[data-reported-display-style="brackets-boldface-roman"] > p::after,
[data-reported-display-style="brackets-boldface-italic"] > p::after {
	content: "]";
}

del,
[data-changed="deleted"] > *,
[data-reported-display-style="strikethrough"] > * {
	text-decoration: line-through;
}

[data-proposed="true"] {
	font-style: italic;
}

/*** LEGISLATIVE DOCUMENT HEADER **/

section.form {
	text-align: center;
}

p.distribution-code {
	text-align: right;
	font-size: 85%;
}

p.calendar {
	text-align: right;
	font-weight: bolder;
	font-size: 150%;
}

p.congress, p.session {
	font-variant: small-caps;
}

p.legis-num {
	font-size: 250%;
	font-weight: bolder;
}

p.associated-doc {
	font-weight: bolder;
}

p.current-chamber::before, p.legis-type::before {
	display: block;
	border-top: 1px solid black;
	width: 50%;
	content: "";
	margin: -0.5em auto 1em;
}

p.legis-type {
	font-size: 200%;
	font-weight: bold;
}

p.current-chamber {
	font-size: 105%;
}

p.action-date {
	font-variant: small-caps;
}

p.action-desc {
	font-size: 90%;
}

span.sponsor, span.cosponsor, span.nonsponsor {
	font-variant: small-caps;
}

p.action-instruction::before {
	content: "[";
}

p.action-instruction {
	font-size: 75%;
}

p.action-instruction::after {
	content: "]";
}

/*** LEGISLATIVE DOCUMENT BODY **/

section.legis-body, section.resolution-body, section.amendment-body {
	margin: 0.5em;
	border: dashed black;
	border-width: 0.1em 0em;
	padding: 1em 0em 0.25em;
}

section.legis-body:not([data-display-enacting-clause="no-display-enacting-clause"]) > section.section:first-child::before,
section.resolution-body:not([data-display-enacting-clause="no-display-enacting-clause"]) > section.section:first-child::before,
section.amendment-body:not([data-display-enacting-clause="no-display-enacting-clause"]) > section.section:first-child::before {
	display: block;
	margin: 0em 0.5em 0.75em;
	font-style: italic;
	line-height: 1.4;
	text-decoration: none !important;
	content: "Be it enacted by the Senate and House of Representatives of the United States of America in Congress assembled,";
}

section.legis-body > section.section[data-display-inline="yes-display-inline"]:first-child::before,
section.resolution-body > section.section[data-display-inline="yes-display-inline"]:first-child::before,
section.amendment-body > section.section[data-display-inline="yes-display-inline"]:first-child::before {
	display: inline;
	line-height: 1;
}

/*** ALL SEGMENTS **/

span.enum + h1.header {
	display: inline;
}

/*** SEGMENTS ABOVE SECTION **/

section.division > span.enum,
section.subdivision > span.enum,
section.title > span.enum,
section.subtitle > span.enum,
section.chapter > span.enum,
section.subchapter > span.enum,
section.part > span.enum,
section.subpart > span.enum,
section.division > h1.header,
section.subdivision > h1.header,
section.title > h1.header,
section.subtitle > h1.header,
section.chapter > h1.header,
section.subchapter > h1.header,
section.part > h1.header,
section.subpart > h1.header {
	display: block;
	text-transform: uppercase;
	text-align: center;
}

section.division > span.enum,
section.subdivision > span.enum,
section.title > span.enum,
section.subtitle > span.enum,
section.chapter > span.enum,
section.subchapter > span.enum,
section.part > span.enum,
section.subpart > span.enum {
	margin-top: 0.5em;
	margin-bottom: 1em;
	font-size: larger;
	font-weight: bolder;
}

section.division > h1.header,
section.subdivision > h1.header,
section.title > h1.header,
section.subtitle > h1.header,
section.chapter > h1.header,
section.subchapter > h1.header,
section.part > h1.header,
section.subpart > h1.header {
	margin-top: -0.5em;
	margin-bottom: 1.5em;
	font-size: 125%;
}

section.division > span.enum::after,
section.subdivision > span.enum::after,
section.title > span.enum::after,
section.subtitle > span.enum::after,
section.chapter > span.enum::after,
section.subchapter > span.enum::after,
section.part > span.enum::after,
section.subpart > span.enum::after {
/*	content: "\2014";*/
}

section.division > span.enum + h1.header,
section.subdivision > span.enum + h1.header,
section.title > span.enum + h1.header,
section.subtitle > span.enum + h1.header,
section.chapter > span.enum + h1.header,
section.subchapter > span.enum + h1.header,
section.part > span.enum + h1.header,
section.subpart > span.enum + h1.header {
/*	margin-left: 0em;*/
}

/*** DIVISION SEGMENT **/

section.division > span.enum::before {
	content: "Division ";
}

/*** SUBDIVISION SEGMENT **/

section.subdivision > span.enum::before {
	content: "Subdivision ";
}

/*** TITLE SEGMENT **/

section.title > span.enum::before {
	content: "Title ";
}

/*** SUBTITLE SEGMENT **/

section.subtitle > span.enum::before {
	content: "Subtitle ";
}

/*** CHAPTER SEGMENT **/

section.chapter > span.enum::before {
	content: "Chapter ";
}

/*** SUBCHAPTER SEGMENT **/

section.subchapter > span.enum::before {
	content: "Subchapter ";
}

/*** PART SEGMENT **/

section.part > span.enum::before {
	content: "Part ";
}

/*** SUBPART SEGMENT **/

section.subpart > span.enum::before {
	content: "Subpart ";
}

/*** SECTION SEGMENT **/

section.section > span.enum::before {
	content: "Sec. ";
}

section.section[data-section-type="section-one"] > span.enum::before {
	content: "Section ";
}

section.section[data-section-type="undesignated-section"] > span.enum::before {
	content: "";
}

section.section > span.enum, section.section > h1.header {
	font-size: smaller;
	font-weight: bolder;
	font-variant: small-caps;
	text-transform: uppercase;
}

section.section > span.enum + h1.header,
section.section > span.enum + p.text {
	margin-left: 0.25em;
}

/* XXX: We should probably handle this generically. */
section.section[data-indent="down1"] {
	margin-left: 1em;
}

/*** SEGMENTS BELOW SECTION **/

section.section > p.text ~ section.subsection,
section.section > p.text ~ section.paragraph,
section.section > p.text ~ section.subparagraph,
section.section > p.text ~ section.clause,
section.section > p.text ~ section.subclause {
	margin-left: 1.5em;
}

section.subsection,
section.paragraph,
section.subparagraph,
section.clause,
section.subclause {
	margin: 1em 0.5em 1em 1.5em;
	text-align: justify;
}

section.subsection > span.enum + h1.header,
section.paragraph > span.enum + h1.header,
section.subparagraph > span.enum + h1.header,
section.clause > span.enum + h1.header,
section.subclause > span.enum + h1.header {
	margin-left: 0.125em;
	text-align: left;
}

section.subsection > h1.header::after,
section.paragraph > h1.header::after,
section.subparagraph > h1.header::after,
section.clause > h1.header::after,
section.subclause > h1.header::after {
	content: ".\2014";
}

section.subsection > span.enum + p.text,
section.paragraph > span.enum + p.text,
section.subparagraph > span.enum + p.text,
section.clause > span.enum + p.text,
section.subclause > span.enum + p.text {
	margin-left: 0.25em;
}

/*** SUBSECTION SEGMENT **/

section.subsection > h1.header {
	font-variant: small-caps;
	text-transform: capitalize;
}

/*** SEGMENTS BELOW SUBSECTION **/

span.enum + section.paragraph,
span.enum + section.subparagraph,
span.enum + section.clause,
span.enum + section.subclause {
	margin-left: 1em;
}

section.paragraph > h1.header,
section.subparagraph > h1.header,
section.clause > h1.header,
section.subclause > h1.header {
	font-variant: small-caps;
}

/*** SEGMENTS BELOW PARAGRAPH **/

section.subparagraph,
section.clause,
section.subclause {
/*	margin-left: 1.25em;*/
}

/*** XXX: APPROPRIATIONS **/

div.appropriations-major > h1.header,
div.appropriations-intermediate > h1.header,
div.appropriations-small > h1.header {
	display: block;
	margin: 1em 0em;
	font-variant: small-caps;
	text-align: center;
}

div.appropriations-major > h1.header {
	margin-top: -0.5em;
	margin-bottom: 1.5em;
	font-size: 125%;
	font-weight: normal;
	text-transform: uppercase;
}

div.appropriations-intermediate > h1.header {
	font-size: 115%;
	text-transform: capitalize;
}

div.appropriations-small > h1.header {
	font-size: 105%;
	text-transform: lowercase;
}

/*** XXX: STUFF TO BE SORTED **/

section.toc {
	margin: 1em 2em;
	border: solid #000080;
	border-width: 0.1333em 0.2em;
	background-color: #F3F3FF;
	padding: 0.5em 0.75em;
	font-size: smaller;
	text-align: left;
}

p.toc-entry[data-level="title"] {
	text-align: center;
	text-transform: lowercase;
	font-variant: small-caps;
}

p.toc-entry[data-level="section"] {
	margin: 0em;
}

section.quoted-block {
	margin-left: 0.25em;
/*	margin: 0.5em 0.25em;
	font-style: italic;*/
}

section.quoted-block > * {
	border: solid #808080;
	border-width: 0.1333em 0.2em;
	background-color: #F3F3F3;
	padding: 0.5em 0.75em;
}

section.quoted-block > section.toc {
	border-color: #404080;
	background-color: #F3F3F9;
}

section.quoted-block > section.section {
	margin: 1em;
}

p.after-quoted-block {
	border: inherit;
	background: inherit;
	padding: inherit;
	font-style: normal;
}

p.text, p.quoted-block-continuation-text {
	line-height: 1.25;
	text-align: justify;
}

p.text {
	text-indent: 1.5em;
}

span.enum + p.text {
	display: inline;
}

q.quote::before {
	content: open-quote;
}

q.quote::after {
	content: close-quote;
}

span.short-title {
	color: #C00;
}

span.effective-date {
	color: #00C;
}

/*** LEGISLATIVE DOCUMENT FOOTER **/

section.endorsement {
	text-align: center;
}

p.attestor::before {
	display: block;
	font-family: serif;
	font-variant: normal;
	content: "Attest:";
	margin: 0.75em -1em;
}

p.attestor {
	font-variant: small-caps;
	margin: 0.5em 1em;
}

p.role {
	font-style: italic;
	margin: 0em 3em auto;
}

p.role::after {
	content: "."
}
